.scrollable-list::-webkit-scrollbar {
   width: 6px;
}

.scrollable-list::-webkit-scrollbar-track {
   background: #f1f1f1;
}

.scrollable-list::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 3px;
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
   background: #555;
}

.loader {
   border-top-color: transparent;
   animation: spin 1s linear infinite;
}
@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
